<a href="https://colab.research.google.com/github/JoaoMateus1010/MachineLearning/blob/master/works/Lista_07/Lista07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lista 07 - Wisconsin Diagnostic Breast Cancer (WDBC)
### **Nome: João Mateus Dias do Carmo**
### **Curso:** Engenharia de Computação
#### **Matrícula:** 390187

#### *Importações*

In [0]:
import numpy as np
import pandas as pd
import sklearn as skl

#### *Lendo Dataframe*

In [0]:
Dataframe = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/wdbc.data")

### *Analisando os Dados*

In [11]:
Dataframe.head()

,842302,M,17.99,10.38,122.8,1001,0.1184,0.2776,0.3001,0.1471,...,25.38,17.33,184.6,2019,0.1622,0.6656,0.7119,0.2654,0.4601,0.1189
0,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
1,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
2,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
3,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678
4,843786,M,12.45,15.70,82.57,477.1,0.12780,0.17000,0.1578,0.08089,...,15.47,23.75,103.40,741.6,0.1791,0.5249,0.5355,0.1741,0.3985,0.12440

In [6]:
Dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568 entries, 0 to 567
Data columns (total 32 columns):
842302      568 non-null int64
M           568 non-null object
17.99       568 non-null float64
10.38       568 non-null float64
122.8       568 non-null float64
1001        568 non-null float64
0.1184      568 non-null float64
0.2776      568 non-null float64
0.3001      568 non-null float64
0.1471      568 non-null float64
0.2419      568 non-null float64
0.07871     568 non-null float64
1.095       568 non-null float64
0.9053      568 non-null float64
8.589       568 non-null float64
153.4       568 non-null float64
0.006399    568 non-null float64
0.04904     568 non-null float64
0.05373     568 non-null float64
0.01587     568 non-null float64
0.03003     568 non-null float64
0.006193    568 non-null float64
25.38       568 non-null float64
17.33       568 non-null float64
184.6       568 non-null float64
2019        568 non-null float64
0.1622      568 non-null float64
0.6656      568 non-null float64
0.7119      568 non-null float64
0.2654      568 non-null float64
0.4601      568 non-null float64
0.1189      568 non-null float64
dtypes: float64(30), int64(1), object(1)
memory usage: 142.1+ KB

In [7]:
Dataframe.isna().sum()

842302      0
M           0
17.99       0
10.38       0
122.8       0
1001        0
0.1184      0
0.2776      0
0.3001      0
0.1471      0
0.2419      0
0.07871     0
1.095       0
0.9053      0
8.589       0
153.4       0
0.006399    0
0.04904     0
0.05373     0
0.01587     0
0.03003     0
0.006193    0
25.38       0
17.33       0
184.6       0
2019        0
0.1622      0
0.6656      0
0.7119      0
0.2654      0
0.4601      0
0.1189      0
dtype: int64