In [1]:
#Preprocessamento

In [2]:
import pandas as pd
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import OneHotEncoder

In [3]:
df = pd.read_csv("untitled.csv")
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN
3   NaN   NaN   NaN  NaN
4   2.0   3.0   1.0  5.0

In [4]:
df.isna()

       A      B      C      D
0  False  False  False  False
1  False  False   True  False
2  False  False  False   True
3   True   True   True   True
4  False  False  False  False

In [5]:
df.isnull()

       A      B      C      D
0  False  False  False  False
1  False  False   True  False
2  False  False  False   True
3   True   True   True   True
4  False  False  False  False

In [6]:
df.isna().sum()

A    1
B    1
C    2
D    2
dtype: int64

In [7]:
#Formas de tratamentos de dados faltantes /missing values

In [8]:
#Eliminar amostras(Linhas) com valores faltantes

In [9]:
df.dropna(axis=0)

     A    B    C    D
0  1.0  2.0  3.0  4.0
4  2.0  3.0  1.0  5.0

In [10]:
#df.dropna(axis=0,inplace=True) Altera no próprio dataframe

In [11]:
#Apagar colunas que possuem valores nulos

In [12]:
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [13]:
df.dropna(how='all') #Eliminar as linhas com todos os valores NaN

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN
4   2.0   3.0   1.0  5.0

In [14]:
df.dropna(thresh=2)

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN
4   2.0   3.0   1.0  5.0

In [15]:
df.dropna(subset=['C']) #Eliminar a linha que tinha a coluna C nula

      A     B     C    D
0   1.0   2.0   3.0  4.0
2  10.0  11.0  12.0  NaN
4   2.0   3.0   1.0  5.0

In [16]:
# Assinalar Valores aos faltantes

In [17]:
# Vai colocar a média da coluna inteira onde tiver dados nulos
prep = Imputer(missing_values='NaN',strategy='mean',axis=0) 
#SHIFT+TAB para ver a documentação

In [18]:
df_ = df.dropna(how='all')#Excluir a linha que tem todos os valores nulos

In [19]:
prep=prep.fit(df_) #Calcula a média das colunas que tem valores nulos

In [20]:
dados = prep.transform(df_) #Aplica a média já calculada

In [21]:
dados

array([[ 1.        ,  2.        ,  3.        ,  4.        ],
       [ 5.        ,  6.        ,  5.33333333,  8.        ],
       [10.        , 11.        , 12.        ,  5.66666667],
       [ 2.        ,  3.        ,  1.        ,  5.        ]])

In [22]:
df2 = pd.read_excel('planilha1.xlsx')

In [23]:
df2

   color size  price   label
0  green    M   10.1  class1
1    red    L   13.5  class2
2   blue   XL   15.3  class1

In [24]:
#Fazendo one-hot-encoding com scikit

In [25]:
ohe = OneHotEncoder(categorical_features=[0],sparse=False)

In [26]:
ohe.fit_transform(df2)

ValueError: could not convert string to float: 'class1'