# Lista 06

## Nome: João Mateus Dias do Carmo
### Matrícula: 390187
#### Curso: Engenharia de Computação

### Início do Código

In [19]:
import pandas as pd
import numpy as np
import sklearn as skl
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.neighbors import KNeighborsClassifier
from libs import transform as trs
from libs import resample as rs
from libs import metrics as mt
from importlib import reload

In [20]:
reload(trs)
reload(rs)
reload(mt)

##### Creating input dataset

In [21]:
column_names = ['age', 'workclass', 'fnlwgt', 'education', 'educational-num','marital-status', 'occupation', 'relationship', 'race', 'gender','capital-gain', 'capital-loss', 'hours-per-week', 'native-country','income']

In [22]:
dataframe = pd.read_csv("adult.data",names=column_names)

In [23]:
dataframe.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [24]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age                32561 non-null int64
workclass          32561 non-null object
fnlwgt             32561 non-null int64
education          32561 non-null object
educational-num    32561 non-null int64
marital-status     32561 non-null object
occupation         32561 non-null object
relationship       32561 non-null object
race               32561 non-null object
gender             32561 non-null object
capital-gain       32561 non-null int64
capital-loss       32561 non-null int64
hours-per-week     32561 non-null int64
native-country     32561 non-null object
income             32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [25]:
dataframe.isna().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

#### converter para dados numéricos

In [29]:
dataframe2 = dataframe
lb = LabelEncoder()

In [30]:
for label in column_names:
    dataframe[label]=lb.fit_transform(dataframe[label])

In [31]:
dataframe.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,22,7,2671,9,12,4,1,1,4,1,25,0,39,39,0
1,33,6,2926,9,12,2,4,0,4,1,0,0,12,39,0
2,21,4,14086,11,8,0,6,1,4,1,0,0,39,39,0
3,36,4,15336,1,6,2,6,0,2,1,0,0,39,39,0
4,11,4,19355,9,12,2,10,5,2,0,0,0,39,5,0

In [44]:
ohe = OneHotEncoder()

In [47]:
dataframe2= ohe.fit(ohe.)

TypeError: 'OneHotEncoder' object is not subscriptable

#### Separando em dados de treino e teste

In [32]:
FuncTrainTest = rs.Functions(dataframe.values)

In [33]:
Indexs_Train_Test=FuncTrainTest.split_stratified_train_test(FuncTrainTest.x[:,-1],perc_train=0.7,seed=9)

In [34]:
Indexs_Train_Test[0].size,Indexs_Train_Test[1].size

(22793, 9768)

In [35]:
Train = dataframe.values[Indexs_Train_Test[0]]
Test = dataframe.values[Indexs_Train_Test[1]]

In [36]:
x_train = Train[:,:-1]
x_test = Test[:,:-1]
y_train=Train[:,-1]
y_test = Test[:,-1]

#### Fazendo a classificação

In [37]:
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=1, p=2,
           weights='uniform')

In [41]:
y_predict = knn.predict(x_train)

In [54]:
knn.score(x_test,y_test)

0.7257371007371007